<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Neptune - NBCB">
    <meta name="author" content="hshe - Nbcb.co">
    <link rel="shortcut icon" href="/static/home/ico/favicon.png">

    <title>金星平台 - Nbcb.co</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/home/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/static/home/css/main.css" rel="stylesheet">

    <script src="/static/home/js/jquery.min.js"></script>
    <script src="/static/home/js/smoothscroll.js"></script>

</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation">

<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>Neptune</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#home" class="smothScroll">主页</a></li>
                <li><a href="#products" class="smothScroll">产品</a></li>
                <li><a href="#showcase" class="smothScroll">案例</a></li>
                <li><a href="#contact" class="smothScroll">联系</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<section id="home" name="home"></section>
<!-- HEADER WRAP -->
<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <h1>
                    欢迎使用 <b>金星平台</b> !
                </h1>
                <br>
                <br>
            </div>
            <div class="col-lg-2">
                <h5>Amazing</h5>
                <p>是不是很酷！</p>
                <img class="hidden-xs hidden-sm hidden-md" src="/static/home/img/arrow1.png">
            </div>
            <div class="col-lg-8">
                <img class="img-responsive" src="/static/home/img/app-bg.png" alt="">
            </div>
            <div class="col-lg-2">
                <img class="hidden-xs hidden-sm hidden-md" src="/static/home/img/arrow2.png">
                <h5>Awesome</h5>
                <p>就问你酷不酷！</p>
            </div>

        </div>
    </div>
    <!--/ .container -->
</div>
<!--/ #headerwrap -->

<section id="products" name="products"></section>
<!-- INTRO WRAP -->
<div id="intro">
    <div class="container">
        <div class="row centered">
            <h1>产品列表</h1>
            <br> <br>
            <div class="col-lg-4">
                <a href="http://12.99.106.123:8000/login.html" target="_blank">
                    <img src="/static/home/img/intro03.png" alt="">
                    <h3>Platform</h3>
                </a>
                <p>Description..</p>
            </div>
            <div class="col-lg-4">
                <a href="http://12.99.106.123:8000/login.html" target="_blank">
                    <img src="/static/home/img/intro03.png" alt="">
                    <h3>DCP</h3>
                </a>
                <p>Description..</p>
            </div>
            <div class="col-lg-4">
                <a href="http://12.99.106.123:8000/login.html" target="_blank">
                    <img src="/static/home/img/intro03.png" alt="">
                    <h3>JMP</h3>
                </a>

                <p>Description..</p>
            </div>
            <div class="col-lg-4">
                <a href="http://12.99.106.123:8000/login.html" target="_blank">
                    <img src="/static/home/img/intro03.png" alt="">
                    <h3>DMP</h3>
                </a>
                <p>Description..</p>
            </div>
            <div class="col-lg-4">
                <a href="http://12.99.106.123:8000/login.html" target="_blank">
                    <img src="/static/home/img/intro03.png" alt="">
                    <h3>IDE</h3>
                </a>
                <p>Description..</p>
            </div>
            <div class="col-lg-4">
                <a href="http://12.99.106.123:8000/login.html" target="_blank">
                    <img src="/static/home/img/intro03.png" alt="">
                    <h3>EDAP</h3>
                </a>
                <p>Description..</p>
            </div>
        </div>
    </div>
    <!--/ .container -->
</div>
<!--/ #introwrap -->


<section id="showcase" name="showcase"></section>
<div id="screenshots">
    <div class="container">
        <div class="row">
            <h1 class="centered">案例介绍</h1>
            <br>
            <div class="col-lg-8 col-lg-offset-2">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/static/home/img/item-02.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/static/home/img/item-02.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/static/home/img/item-02.png" alt="">
                        </div>
                        <div class="item">
                            <img src="/static/home/img/item-02.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
    <!-- /container -->
</div>


<section id="contact" name="contact"></section>
<div id="footerwrap">
    <div class="container">
        <div class="col-lg-5">
            <h3>通讯地址</h3>
            <br>
            <p>
                浙江省宁波市鄞州区
                <br>
                宁南南路700号
                <br>
                315100
                <br>
                宁波银行 鄞州大楼 21#
                <br>
            </p>
        </div>
        <div class="col-lg-7">
            <h3>留言板</h3>
            <br>
            <form id="saveReportForm" role="form" action=# method="post" enctype="plain" onsubmit="return saveReport();">
                <div class="form-group">
                    <label for="name1">Your Name</label>
                    <input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name" required="required">
                </div>
                <div class="form-group">
                    <label for="email1">Email address</label>
                    <input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email" required="required">
                </div>
                <div class="form-group">
                    <label>Your Text</label>
                    <textarea class="form-control" name="Message" rows="3" required="required"></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-large btn-success">SUBMIT</button>
            </form>
        </div>
    </div>
</div>

<div id="tanchuang" name="tanchuang"></div>

<div id="c">
    <div class="container">
        <p>NBCB - <a href="http://12.99.106.123:8000/login.html" target="_blank" title="宁波银行科技部">宁波银行科技部</a></p>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/home/js/bootstrap.js"></script>
<script>
    $('.carousel').carousel({
        interval : 3000
    })
</script>
<script src="/static/home/js/jquery.min.js">
    function saveReport() {
        //jquery 表单提交
        $("#showDataForm").ajaxSubmit(function(message) {
            //对于表单提交成功后处理，message为提交页面submit.php的返回内容
        });

        return false; // 必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
    }
</script>

</body>
</html>
