<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Neptune - Nbcb.co</title>

    <!--- CSS --->
    <link rel="stylesheet" href="/static/login/style.css" type="text/css"/>


    <!--- Javascript libraries (jQuery and Selectivizr) used for the custom checkbox --->

    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="/static/login/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/login/selectivizr.js"></script>
    <noscript>
        <link rel="stylesheet" href="/static/login/fallback.css"/>
    </noscript>
    <![endif]-->

</head>

<body>
<div id="container">
    <form action="/login" method="post">
        <div class="login">LOGIN</div>
        <div class="username-text">Username:</div>
        <div class="password-text">Password:</div>
        <div class="username-field">
            <input type="text" name="username" placeholder="Username" value=""/>
        </div>
        <div class="password-field">
            <input type="password" name="password" placeholder="Password" value=""/>
        </div>
        <input type="checkbox" name="remember-me" id="remember-me"/>
        <label for="remember-me">Remember me</label>
        <div class="forgot-usr-pwd">
            Forgot
            <a href="#">username</a>
            or
            <a href="#">password</a>?
        </div>
        <input type="submit" name="submit" value="GO"/>
    </form>
</div>
<div id="footer">
    Neptune Login - Nbcb.co
</div>
</body>
</html>
